<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mall.data.dictionary.service.infrastructure.mysql.mapper.DictionaryMapper">

    <resultMap id="BaseResultMap" type="mall.data.dictionary.service.infrastructure.mysql.entity.DictionaryPO">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="created_at" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="created_by" column="created_by" jdbcType="VARCHAR"/>
        <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="updated_by" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,code,description,
        created_at,created_by,updated_at,
        updated_by
    </sql>
</mapper>
