<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mall.data.dictionary.service.infrastructure.mysql.mapper.DictionaryMapper">

    <resultMap id="BaseResultMap" type="mall.data.dictionary.service.infrastructure.mysql.entity.DictionaryPO">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createdAt" column="createdAt" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="createdBy" jdbcType="VARCHAR"/>
        <result property="updatedAt" column="updatedAt" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updatedBy" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,code,description,
        createdAt,createdBy,updatedAt,
        updatedBy
    </sql>
    <select id="selectOneByCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Dictionary
        where
        code = #{code,jdbcType=VARCHAR}
    </select>
    <select id="selectOneByCreatedBy" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Dictionary
        where
        createdBy = #{createdBy,jdbcType=VARCHAR}
    </select>
    <insert id="insertSelective">
        insert into Dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="description != null">description,</if>
            <if test="createdAt != null">createdAt,</if>
            <if test="createdBy != null">createdBy,</if>
            <if test="updatedAt != null">updatedAt,</if>
            <if test="updatedBy != null">updatedBy,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="code != null">#{code,jdbcType=VARCHAR},</if>
            <if test="description != null">#{description,jdbcType=VARCHAR},</if>
            <if test="createdAt != null">#{createdAt,jdbcType=TIMESTAMP},</if>
            <if test="createdBy != null">#{createdBy,jdbcType=VARCHAR},</if>
            <if test="updatedAt != null">#{updatedAt,jdbcType=TIMESTAMP},</if>
            <if test="updatedBy != null">#{updatedBy,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateSelective">
        update Dictionary
        <set>
            <if test="code != null">code=#{code,jdbcType=VARCHAR},</if>
            <if test="description != null">description=#{description,jdbcType=VARCHAR},</if>
            <if test="createdAt != null">createdAt=#{createdAt},</if>
            <if test="createdBy != null">createdBy=#{createdBy,jdbcType=VARCHAR},</if>
            <if test="updatedAt != null">updatedAt=#{updatedAt},</if>
            <if test="updatedBy != null">updatedBy=#{updatedBy,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
